@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    padding: 5px;
    width: 120px;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}